<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <style>
        div{
            display:flex;
            flex-direction:row;
            justify-content: space-around;
            justify-items:center;
            width:100;
        }
    </style>
</head>
<body>
   <div>
    <img src="./photo1.jpg"  height="400px" width="300px">
    <img src="./photo2.jpg" height="400px" width="300px">
    <img src="./photo3.jpg" height="400px" width="300px">
   </div> 
</body>
</html>