<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <title>Document</title>
    <style>
        *{
          font-family: 'PT Sans', sans-serif;
           margin:0;
           padding: 0;
           box-sizing: border-box;
           
}
body{
    justify-content: center;
    text-align: center;
    background-color: grey;
}
form{
    border:1px solid red;
    height: 500px;
    width:30vw;
    margin-left: 450px;
    margin-top: 30px;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(white,rgb(145, 145, 228));
    padding-top: 20px;
}
.first{
    
    float:right;
    background-color: blanchedalmond;
    width: 60px;
    font-weight: bolder;
    border:4px solid red

}
    </style>
</head>
<body>
    
  <a  class= "first" href="logout">Logout</a>
    <form action="/register" method="POST">
      <h3>Student Application Form</h3><br><br>
        <label>First Name</label><br>
        <input type="text" name="firstname"><br><br>
          <label>Last Name</label><br>
        <input type="text" name="lastname"><br><br>

        <label>Class Name</label><br>
        <input type="text" name= "classname"><br><br>

       <label>Email</label><br>
        <input type="email" name="email"><br><br>

        <label>Mobile No:</label><br>
        <input type="text" name="phonenumber"><br><br>

        <input type="submit" name="btnRegister" value="Register"/>


    </form>
    

</body>
</html>